data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
models/__pycache__/Unet.cpython-39.pyc
models/__pycache__/Unet.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/utils.cpython-39.pyc
lightning_logs/version_0/events.out.tfevents.1686205390.rafael-Nitro-AN515-55.346937.0
lightning_logs/version_0/hparams.yaml
lightning_logs/version_1/events.out.tfevents.1686205469.rafael-Nitro-AN515-55.348560.0
lightning_logs/version_1/hparams.yaml
lightning_logs/version_2/events.out.tfevents.1686205595.rafael-Nitro-AN515-55.351076.0
lightning_logs/version_2/hparams.yaml
lightning_logs/version_3/events.out.tfevents.1686205613.rafael-Nitro-AN515-55.351539.0
lightning_logs/version_3/hparams.yaml
lightning_logs/version_4/events.out.tfevents.1686205645.rafael-Nitro-AN515-55.352281.0
lightning_logs/version_4/hparams.yaml
lightning_logs/version_5/events.out.tfevents.1686205692.rafael-Nitro-AN515-55.353286.0
lightning_logs/version_5/hparams.yaml
lightning_logs/version_6/events.out.tfevents.1686205850.rafael-Nitro-AN515-55.356378.0
lightning_logs/version_6/hparams.yaml
lightning_logs/version_7/events.out.tfevents.1686205939.rafael-Nitro-AN515-55.358188.0
lightning_logs/version_7/hparams.yaml
Logs/TrainLogs/version_0/events.out.tfevents.1686206147.rafael-Nitro-AN515-55.362486.0
Logs/TrainLogs/version_0/hparams.yaml
Logs/TrainLogs/version_1/events.out.tfevents.1686206214.rafael-Nitro-AN515-55.364012.0
Logs/TrainLogs/version_1/hparams.yaml
Logs/TrainLogs/version_10/events.out.tfevents.1686207041.rafael-Nitro-AN515-55.394984.0
Logs/TrainLogs/version_10/hparams.yaml
Logs/TrainLogs/version_11/events.out.tfevents.1686207180.rafael-Nitro-AN515-55.400201.0
Logs/TrainLogs/version_11/events.out.tfevents.1686207203.rafael-Nitro-AN515-55.400201.1
Logs/TrainLogs/version_11/hparams.yaml
Logs/TrainLogs/version_12/events.out.tfevents.1686246243.rafael-Nitro-AN515-55.11952.0
Logs/TrainLogs/version_12/events.out.tfevents.1686246367.rafael-Nitro-AN515-55.11952.1
Logs/TrainLogs/version_12/hparams.yaml
Logs/TrainLogs/version_13/events.out.tfevents.1686246399.rafael-Nitro-AN515-55.14890.0
Logs/TrainLogs/version_13/events.out.tfevents.1686246489.rafael-Nitro-AN515-55.14890.1
Logs/TrainLogs/version_13/hparams.yaml
Logs/TrainLogs/version_14/events.out.tfevents.1686246547.rafael-Nitro-AN515-55.17295.0
Logs/TrainLogs/version_14/events.out.tfevents.1686246636.rafael-Nitro-AN515-55.17295.1
Logs/TrainLogs/version_14/hparams.yaml
Logs/TrainLogs/version_15/events.out.tfevents.1686246738.rafael-Nitro-AN515-55.20420.0
Logs/TrainLogs/version_15/events.out.tfevents.1686246825.rafael-Nitro-AN515-55.20420.1
Logs/TrainLogs/version_15/hparams.yaml
Logs/TrainLogs/version_2/events.out.tfevents.1686206249.rafael-Nitro-AN515-55.364799.0
Logs/TrainLogs/version_2/hparams.yaml
Logs/TrainLogs/version_3/events.out.tfevents.1686206262.rafael-Nitro-AN515-55.365163.0
Logs/TrainLogs/version_3/hparams.yaml
Logs/TrainLogs/version_4/events.out.tfevents.1686206318.rafael-Nitro-AN515-55.366437.0
Logs/TrainLogs/version_4/hparams.yaml
Logs/TrainLogs/version_5/events.out.tfevents.1686206364.rafael-Nitro-AN515-55.367481.0
Logs/TrainLogs/version_5/hparams.yaml
Logs/TrainLogs/version_5/checkpoints/epoch=0-step=1874.ckpt
Logs/TrainLogs/version_6/events.out.tfevents.1686206795.rafael-Nitro-AN515-55.384606.0
Logs/TrainLogs/version_6/hparams.yaml
Logs/TrainLogs/version_7/events.out.tfevents.1686206824.rafael-Nitro-AN515-55.385935.0
Logs/TrainLogs/version_7/hparams.yaml
Logs/TrainLogs/version_8/events.out.tfevents.1686206857.rafael-Nitro-AN515-55.387324.0
Logs/TrainLogs/version_8/hparams.yaml
Logs/TrainLogs/version_9/events.out.tfevents.1686206973.rafael-Nitro-AN515-55.392015.0
Logs/TrainLogs/version_9/events.out.tfevents.1686206994.rafael-Nitro-AN515-55.392015.1
Logs/TrainLogs/version_9/hparams.yaml
Logs/TrainLogs/version_16/events.out.tfevents.1686247738.rafael-Nitro-AN515-55.35796.0
Logs/TrainLogs/version_16/events.out.tfevents.1686247757.rafael-Nitro-AN515-55.35796.1
Logs/TrainLogs/version_16/hparams.yaml
Logs/TrainLogs/version_16/checkpoints/epoch=0.ckpt
Logs/TrainLogs/version_17/events.out.tfevents.1686248214.rafael-Nitro-AN515-55.46675.0
Logs/TrainLogs/version_17/events.out.tfevents.1686248232.rafael-Nitro-AN515-55.46675.1
Logs/TrainLogs/version_17/hparams.yaml
Logs/TrainLogs/version_17/checkpoints/epoch=0.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=1.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=2.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=3.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=4.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=5.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=6.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=7.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=8.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=9.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=10.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=11.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=12.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=13.ckpt
Logs/TrainLogs/version_17/checkpoints/epoch=14.ckpt
results/0.jpg
results/1.jpg
results/2.jpg
results/3.jpg
results/4.jpg
results/5.jpg
results/6.jpg
results/7.jpg
results/8.jpg
results/9.jpg
results/10.jpg
results/11.jpg
results/12.jpg
results/13.jpg
results/14.jpg
